<div class="container mt-3" [ngClass]="stock==0?'sale':''">
    <div  class="card img-fluid" style="width:400px" [ngClass]="stock==0?'sale':''" >
        <img class="card-img-top img " [src]="pic" alt="Card image"
            (click)="more(product)">
        <div>
            <div  (click)="more(product)">
                <h2 class="card-title font direction">{{name}}</h2>
                <p class="card-text direction">{{price|currency:'ILS'}}</p>
                <!-- <p >פריטים אחרונים<i class="fa-solid fa-allergies"></i></p> -->
            </div>
            <app-button type="button" class="button direction " name="הוסף לסל" icon="fa-solid fa-shopping-cart"
                (sendP)="sal(product)" appBoughtProduct ></app-button>
        </div>
    </div>
</div>